@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;;
  font-family: 'Roboto', Arial, sans-serif;
}

body {
  padding: 6rem 2rem;
  background-image: linear-gradient(to right, #0074a2, #007ca6, #0083aa, #008bad, #0092b0);
  min-height: 100vh;
}



/* <GifExpertApp /> */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

header h1 {
  text-align: center;
  font-size: 4.7rem;
  color: #FFF;
}

header p {
  font-size: 2.4rem;
  color: #FFBB61;
  font-weight: 500;
}



/* <AddCategory /> */

form {
  position: relative;
  width: 100%;
  max-width: 50rem;
  margin: 5rem auto 0;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #FFF;
  border-radius: 0.3rem;
}

form::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 0.3rem;
  background: #FFBB61;
  border-radius: 0.2rem;
  transform: scaleX(0);
  transition: transform .25s;
}

form:focus-within:before {
  transform: scale(1);
}

form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

form button i {
  font-size: 1.8rem;
  opacity: 30%;
}

form:focus-within button i {
  color: #FFBB61;
  opacity: 100%;
}

form input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.6rem;
  flex-grow: 1;
}

form input::placeholder {
  font-size: 1.6rem;
  opacity: 70%;
}



/* <NavSearch /> */

.nav-search {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
  font-size: 1.6rem;
  color: white;
}

.nav-search__item input {
  display: none;
}

.nav-search__item label {
  transition-duration: 0.3s;
  cursor: pointer;
}

.nav-search__item--active {
  color:#FFBB61
}

/* <GifGrid /> */

.result-container {
  max-width: 144rem;
  margin: 6rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-container__title {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  font-size: 2rem;
  color: #FFBB61;
}

.result-container__card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}



/* <GifItem /> */

.card {
  height: 25rem;
  width: 100%;
  max-width: 28rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 85%;
  object-fit: cover;
}
.card__copy-link{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  color: #0074A2;
  cursor: pointer;
}

.card__copy-link--no-copy {
  background-color: #fff;
}

.card__copy-link--copy {
  background-color: #FFBB61;
}



/* <Paginator /> */

.paginator-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.paginator-container__button {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #0074A2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transition-duration: 0.3s;
  cursor:pointer
}

.paginator-container__button:hover {
  background-color: #FFBB61;
}

.paginator-container__button--active {
  background-color: #FFBB61;
  box-shadow: none;
}


/* <spinner /> */

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}


